<!DOCTYPE html>
<html>
<head>
    <title>Lista de Residentes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
</head>
<body class="container mt-4">
    <h1>Lista de Residentes</h1>

    <a href="{% url 'residents:create_resident_view' %}" class="btn btn-success mb-3">Añadir Nuevo Residente</a>

    <ul class="list-group">
        {% for resident in residents %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-3"><strong>Nombre:</strong> {{ resident.name }}</div>
                    <div class="col-md-2"><strong>Edad:</strong> {{ resident.age }}</div>
                    <div class="col-md-4"><strong>Condición Médica:</strong> {{ resident.medical_condition }}</div>
                    <div class="col-md-3"><strong>Medicamentos:</strong> 
                        {% if resident.medications.all %}
                            <ul class="list-unstyled">
                                {% for medication in resident.medications.all %}
                                    <li>🩺 {{ medication.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No tiene medicamentos asignados
                        {% endif %}
                    </div>
                    <div>
                        <!-- Botón de Eliminar -->
                        <form action="{% url 'residents:delete_resident_view' resident.pk %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" title="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este medicamento?');">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>

                        <!-- Botón de Editar -->
                        <a href="{% url 'residents:update_resident_view' resident.pk %}" class="btn btn-primary btn-sm me-2" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <!-- Botón de ver dosis de residente -->
                        <a href="{% url 'residents:resident_doses_view' resident.pk %}" class="btn btn-info btn-sm" title="Ver Dosis">
                            <i class="bi bi-eye"></i>
                        </a>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item text-center">No hay residentes registrados.</li>
        {% endfor %}
    </ul>

</body>
</html>